<h1><%= @physician.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_physician_appointment_path(@physician) %>
<hr />

<h2>Xray</h2>
<ul>
  <% @xrays.each do |xray| %>
    <li>
      <%= xray.patient.full_name %>
      <br />
      <%= link_to 'Remove', physician_appointment_path(@physician, xray), method: :delete %>
    </li>
  <% end %>
</ul>
<h2>Physical</h2>
<ul>
  <% @physicals.each do |physical| %>
    <li>
      <%= physical.patient.full_name %>
      <br />
      <%= link_to 'Remove', physician_appointment_path(@physician, physical), method: :delete %>
    </li>
 <% end %>
</ul>
<h2>Routine</h2>
<ul>
  <% @routines.each do |routine| %>
    <li>
      <%= routine.patient.full_name %>
      <br />
      <%= link_to 'Remove', physician_appointment_path(@physician, routine), method: :delete %>
   </li>
 <% end %>
</ul>